.MainText {
  position: fixed;
  left: 50%;
  margin-top: 14%;
  font-size: 35px;
  font-weight: bold;
  transform: translateX(-50%);
  z-index: 1;
}

.background {
  position: relative;
}

.bakery {
  width: 100%;
  position: absolute;
  top: -10px;
  overflow: hidden;
}

.wheat {
  position: sticky;
  top: 100%;
  width: 100%;
  z-index: -1;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 500px;
  height: 400px;
  margin-bottom: 20px;
  /* padding: 30px; */
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
  width: 500px;
  height: 400px;
  /* margin-left: 30px;
  margin-top: 30px; */
}

.project__description h3 {
  text-align: center;
  color: white;
}

.project__description h3:after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: rgb(56, 52, 52);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

.project__description span {
  text-align: center;
  color: white;
}

.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}

.inputContainer {
  margin-left: 80%;
  font-size: x-large;
}

.modalRight {
  margin-top: 5%;
  width: 100%;
  cursor: pointer;
  margin-left: 90%;
  font-size: x-large;
}
