@font-face {
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.mainText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainText__null {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 25%;
  z-index: 1;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -5px;
}

.carousels {
  display: flex;
  justify-content: space-around;
  background: rgb(255, 255, 255);
  border-radius: 30px;
}

.carousel {
  width: 500px;
  margin: 30px;
  padding: 10px;
  border-radius: 30px;
}

.carousel img {
  height: 500px;
  object-fit: cover;
  border-radius: 30px;
}

.background {
  position: relative;
}

.bakery {
  width: 100%;
  height: 60rem;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.wheat {
  position: sticky;
  height: 1600px;
  width: 100%;
  z-index: -1;
  top: 0px;
}

.wheat__ {
  margin-right: 5%;
  position: relative;
  bottom: 10rem;
}

.wheat__p1,
.wheat__p2,
.wheat__p3,
.wheat__p4,
.wheat__p5 {
  color: rgb(149, 151, 160);
  font-size: 40px;
  float: right;
  writing-mode: vertical-rl;
  font-family: 'Chosunilbo_myungjo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  padding: 5px;
}

.wheat__p2 {
  margin-top: 5%;
}

.wheat__p3 {
  margin-top: 10%;
}

.wheat__p4 {
  margin-top: 15%;
}

.wheat__p5 {
  margin-top: 25%;
  margin-right: 5%;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: white;
  /* z-index: 1; */
  margin-top: 700px;
}

.project {
  width: 500px;
  height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  /* padding: 30px; */
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  width: 100%;
  height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
  width: 500px;
  height: 400px;
  /* margin-left: 30px;
  margin-top: 30px; */
}

.project__description h3 {
  text-align: center;
  color: white;
}

.project__description h3:after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: rgb(56, 52, 52);
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: 8px;
}

.project__description span {
  text-align: center;
  color: white;
}

.modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
}

.inputContainer {
  margin-left: 80%;
  font-size: x-large;
}

.modalRight {
  margin-top: 5%;
  width: 100%;
  cursor: pointer;
  margin-left: 90%;
  font-size: x-large;
}
