@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

.product_middle {
  max-width: 1920px;
  margin: 0 auto;
}
.product {
  max-width: 1920px !important;
  margin: 0 100px;
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  margin-bottom: 300px;
}
.product p,
.product h2 {
  margin: 0;
}
.product .product_visual_img {
  margin-top: 100px;
  margin-bottom: 50px;
}
.product .product_visual img {
  max-width: 100%;
}
.product_visual_text {
  display: flex;
  height: 230px;
  justify-content: center;
}
.product_visual_text > div {
  display: flex;
  flex-direction: column;
}
.product_visual_text > div:last-child {
  margin-left: 200px;
  width: 600px;
}

.product_visual_text div h2 {
  width: 250px;
  line-height: 100%;
  font-size: 28px;
}
.product_visual_text div h2 span {
  line-height: 100%;
  font-weight: 200;
  color: #727272;
  font-size: 16px;
}
.product_visual_text div > div {
  margin-top: auto;
}
.product_visual_text div > p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1px;
}
.product_visual_text div > div > h3 {
  font-weight: 200;
  margin: 0;
}
.product_visual_text div > div > button {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background: #b18026;
  border-radius: 5px;
  color: #fff;
  border: 0;
  margin-top: 10px;
}
.product_visual_text div > div > p {
  font-weight: 500;
}
.product_visual_text div > p:last-child {
  margin-top: auto;
}
.product_contents {
  display: flex;
  justify-content: space-between;
}
.product_box span {
  display: block;
  margin-top: 150px;
  /* 그림자 */
}
.product_right_box {
  margin-left: 80px;
  margin-top: 62%;
}
.product_box span{
  max-height:450px;
  max-width: 100%;

}
.product_box span img {
  height:100%;
  max-width: 100%;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.4);
  border-radius:22px;
}
.product_box h2 {
  margin: 40px 0 20px 10px;
  font-size: 28px;
}
.product_box p {
  width: 550px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-left: 10px;
}
