* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
.Headerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.HeaderLogo {
  margin-top: 20px;
  margin-left: 100px;
  width: 80px;
}

.Hambuger {
  margin-right: 100px;
  cursor: pointer;
}

.mainBread {
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e3d1b3;
  width: 100%;
  padding: 20px 0;
}
.footer__p {
  margin-top: 30px;
}

.scroll__container {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 1;
}

.scroll {
  font-weight: bold;
  font-size: 15px;
  padding: 15px 10px;
  background-color: white;
  color: black;
  border: 1px solid rgb(210, 204, 193);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.scroll:hover {
  color: rgb(142, 26, 26);
}
