.menu_page {
  padding: 2rem;
}

.menu_header {
  padding-top: 6rem;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  font-size: 30px;
  text-align: center;
  /* h2라서 볼드체인가? */
}

.menu_bar {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  /* 현재 선택된 카테고리는 bordertop이 border해졌으면 좋겠다 */
}
.menu1 {
  padding: 0.5em;
  cursor: pointer;
  border-top: solid 1px;
}
.menu1:hover {
  font-weight: bold;
}

.menu2 {
  padding: 0.5em;
  cursor: pointer;
  border-top: solid 1px;
}
.menu2:hover {
  font-weight: bold;
}

.menu3 {
  padding: 0.5em;
  cursor: pointer;
  border-top: solid 1px;
}
.menu3:hover {
  font-weight: bold;
}

.menu4 {
  padding: 0.5em;
  cursor: pointer;
  border-top: solid 1px;
}
.menu4:hover {
  font-weight: bold;
}

/* container */
.menu_list {
  /* background-color: ivory; */
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  /* align-items: center; */
  align-content: space-evenly;
}
.menu_list .item {
  place-self: center;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 마우스 호버 효과 */
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.image:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  cursor: pointer;
}
.image:hover ~ .title {
  font-weight: 500;
}

.engtitle {
  padding-top: 0.5em;
  color: gray;
}
